body{
	background-color: #f2d6eb;
	top-margin: 0;
	left-margin: 0;
	margin-height: 0;
	margin-width: 0;
}
table{
	width: 100%;
	height: 100%;
	border: 0;
	cellspacing: 0;
	cellpadding: 0;
}
.img{
	align: center;
	valign: top;
	colspan: 2;
}
.td{
	width: 80%;
	align: center;
}
.main-img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
		
}
.top-img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
.common{
	text-align: center;
	color: #6A1051;
}


.p{
	margin-top: 40pt;
}
.td1{
	width: 20%;
	background-color: #e5b0ea;
}
.div{
	color: white;
	link: white;

}
.p1{
	text-align: center;
	font-size: 15pt;
}

.br{
	color: white;
}

.field{
	color: white;
	width: 100%;
	padding: 12px 30px;
	margin: 8px 0;
	box-sizing: border-box;
	
}


.button:hover{
	background-color: #db75c5 ;
}


/*------- Header Navigation Section-----------*/

.nav ul {
	margin:0;
}

.nav li {
	display: inline;
}

.nav a {
	display: inline-block;
 	padding: .5em;
 	color: white;
 	text-decoration: none;
 }

 .main-nav {
 	text-align: center;
 	font-size: 1.1em;
 	font-weight: lighter;
 	border-bottom: 1px solid rgba(255, 255, 255, .3);
 }

.main-nav li {
	padding: 0 5%;
}
 .nav a:hover {
 	background-color: rgba(255, 255, 255, .3); /* .3 means transparency of 30%*/
 }


.main-header {
	background-color: rgba(0, 0, 0, .6);
	background-image: url("../Images/HB.jpg");
	background-size: cover;
	background-blend-mode: multiply;
	padding-bottom: 30px;
}
